<nav>
  <a href='/'>Yummy in my Tummy</a>
  {{#if user}}
    <a href='/'>Home</a>
    <a href='/profile'>My Profile</a>
    <a href='/discover'>Discover</a>
    <form action='/authentication/sign-out' method='POST'>
      <button>Sign Out</button>
    </form>
  {{else}}
    <a href='/authentication/sign-in'>Sign In</a>
    <a href='/authentication/sign-up'>Sign Up</a>
  {{/if}}
</nav>