<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <form action='/search-restaurant' method='post'>

    <div>
      <label for='search-selector'></label>
      <select name='search-selector' id='search-selector'>
        <option value='restaurant-name'>Restaurant</option>
        <option value='restaurant-culinary'>Culinary</option>
        <option value='restaurant-food'>Food</option>
      </select>
    </div>

    <div>
      <input
        type='text'
        name=''
        id=''
        placeholder='Hamburgers, Fast Food, On Swaan'
      />
      <input type='text' name='location' id='location' placeholder='Lisbon' />
      <button></button>
    </div>
  </form>

</div>